/*============= vars for differant screens==========*/

@mixin respons($media){
	@if $media == smart {
		@media only screen and (min-width:320px)and (max-width: 767px) {@content}
	}
	@else if $media == tablet {
		@media only screen and  (min-width:768px) and (max-width:1023px) {@content}
	}
	@else if $media == pc {
		@media only screen and (min-width:1024px) and (max-width:1279px) {@content}
	}
	@else if $media == large {
		@media only screen and (min-width:1080px) {@content}
	}
}


@mixin title() {
    font-family:'Myriad Pro';
    text-transform: uppercase;
}
/*============= all==========*/

html {
  position: relative;
  min-height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background: #fff;
  overflow-x: hidden;

  @include respons(smart){
  	height:100%;
	bottom:0;
	border: 0;
	min-height:100%;
	max-width: 767px;
  }
  @include respons(tablet){
  	max-width: 1023px;
  }
  @include respons(pc){
  	max-width: 1279px;
  }
}

*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}

a {
	text-decoration:none;
	height:100%;
	width:100%;
}
.container:before,
 .container:after,
 .row:before,
 .row:after,
 .clear:before,
 .clear:after,
 section::before,
 section::after, {
	  content:" ";
	  display:table;}
  

.container {
	margin: 0 auto;
	float: none;
}
.pinkLines {
	background: url(../img/pinkLines.png);
	background-size: auto, auto, cover;
	height: 100%;
	position: absolute;
	margin-left: -562px;
	left:50%;
	@include respons(smart){
  	background-size: auto, auto, cover;
    width: 100%;
     margin-left: 0; 
     left: 0; 
  }
  @include respons(tablet){
  	background-size: auto, auto, cover;
    width: 100%;
     margin-left: 0; 
     left: 0; 
  }
  @include respons(pc){
  	background-size: auto, auto, cover;
    width: 100%;
     margin-left: 0; 
     left: 0; 
  }
}

.caver-block {
	height: 100%;
	width: 100%;
	background-image: url(../img/caveties.png);
	background-size: auto, auto, cover;
	opacity: .5;
	position: absolute;
}


/*----------------------header--------------------------*/

header {
	position: relative;
	background-color: #fff;
	@include respons(smart){
  	display: inline-block;
  	width: 100%;
  }
  @include respons(smart){
  	display: inline-block;
  	width: 100%;}
	}
header .container.col-lg-10 {
    display: flex;
    align-items: center;
    height: 86px;
    position: relative;

    @include respons(smart){
  	display: block;
  }
    }
.logo {
	display: inline-block;
	margin-top: 15px;
	position: absolute;

	 @include respons(smart){
  	display: block;
    position: relative;
    text-align: center;
   }
    @include respons(tablet){
  	display: block;
    position: relative;
    text-align: left;
   }
    @include respons(pc){
  	display: block;
    position: relative;
    text-align: left;
   }
}

.logo img {
	@include respons(smart){
  	display: inline-block;
    }

}
.main-menu {
	padding: 0;
	display: flex;
    justify-content: flex-end;
    margin-right: 0;
    @include respons(smart){
  	display: block;
  	float: none !important;
      }
      @include respons(tablet){
  	display: block;
  	float: none !important;
  	height: 100%;
  	line-height: 78px;
      }
    }

.main-navigation {
	display: flex;
	justify-content: space-between;
	@include respons(smart){
  	display: block;
  	text-align: center;
    }
    @include respons(tablet){
  	display: block;
  	}}

  	.main-navigation li{
  		@include respons(tablet){
  	display: inline-block;
    width: 20%;
    padding: 0;
    margin-left: 50px;
  	}
  	}
.main-navigation li a {
	color: #634949;
	font-weight: bold;
	padding: 5px;
	 @include respons(tablet){
  	padding: 5px;
		 }
		 @include respons(pc){
  	padding: 5px;
		 } 	}
.main-menu>.main-navigation.nav.nav-pills.col-lg-10 >li >a:hover, 
.main-menu>.main-navigation.nav.nav-pills.col-lg-10 >li> a:active, 
.main-menu>.main-navigation.nav.nav-pills.col-lg-10 >li >a:focus {
	color: #E94646;
	background-color: transparent;
	outline-color: transparent;
	}

form.navbar-search.navbar-right.form-inline, a.btnSearch.btn.btn-link:focus {
    border-bottom: 1px solid #D1CCCC;
}
.collapse.in {
    display: inline-block;
    width: 80%;
    vertical-align: top;
    position: absolute;
     @include respons(smart){
  	position: relative;
      }
}
a.btnSearch.btn.btn-link {
    width: 10%;
    color: #826868;
    vertical-align: top;
     @include respons(tablet){
  	vertical-align: middle;
      }
}

a.btnSearch.btn.btn-link i:active {
	  color: #826868;
	}
input.form-control, .form-control:focus {
    border: none;
    box-shadow: none;
     -webkit-box-shadow: none;
}
 .mySearch {
	color: #D1CCCC;
}
.search {
	position: relative;
	 @include respons(smart){
  	text-align: center;
      }
}

::-webkit-input-placeholder {font-style: italic;}
::-moz-placeholder          {font-style: italic;}/* Firefox 19+ */
:-moz-placeholder           {font-style: italic;}/* Firefox 18- */
:-ms-input-placeholder      {font-style: italic;}

/*----------------main-block------------------*/

.main {
	position: relative;
}

.text-area h1 {
	font-size: 50px;
	text-align: left;
	color: #313131;
	  @include respons(smart){
  	 text-align: center;}
      }
.slider {
	height: 653px;
	width: 100%;
	 @include respons(smart){
  	height: 80%;
      }
}
.slider .col-lg-12 {
	padding: 0;
}
.slider img {
	height: auto;
    max-width: 100%;
    width: auto;
    margin-top: -27px;
    @include respons(pc){
  	padding-right: 50px;
      }
}

.main-block,.text-area {
	padding-left: 0
}
.text-area {
    left: 0;
    width: 40%;
    display: flex;
    align-items: center;
    height: 100%;
     @include respons(smart){
  	 display: block;
  	 width: 100%;
  	 top:20%;
      }
      @include respons(tablet){
  	 display: block;
  	 
      }
}
.item.active {
	height: 653px;
	@include respons(smart){
  	height: 100%;
  	      }
}
.text-area .btn.btn-warning {
    height: 60px;
    width: 65%;
    background-color: #E83F3F;
    border-radius: 70px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: none;
     @include respons(smart){
  	 display: block;
  	 margin: 0 auto;
  	height: 40px;
  	       }
}
.carousel-control {
	width: 8%;
}
.carousel-indicators {
	top: 84%;
	@include respons(smart){
  	top: 77%;
  	       }
}
.carousel-indicators .active {
	background-color: #e54646;
	opacity: .5;
}

.carousel-indicators li {
   
    background-color: #bcbcbc;
    border: none;
	    }

/*-----------------footer---------------------*/

footer {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -75px;
    position: relative;
    @include respons(tablet){
  	height: 100px;
  	margin-top: 0;
  	       }
  	@include respons(pc){
  	height: 100px;
  	margin-top: 0;
  	       }
}

footer .container {
	height: 100%;

}
footer p {
	color: #fff;
	display: flex;
	align-items: center;
	height: 100%;
}